<!-- Content Wrapper. Contains page content -->


<app-appheader> </app-appheader>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><i class="fas fa-user-secret mr-1"> </i>Utilisateurs</h1>
          </div><!-- /.col -->
          <!--
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
          -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
       
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-plus mr-1"></i>
                  {{ titreFenetre }}
                </h3>
                <h3 style="text-align: right;">
                  <button class="btn btn-success" (click)="ListeUtilisateurs()"><i class="fas fa-list mr-1"></i> Liste des utilisateurs </button>
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <!-- <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a> -->
                    </li>
                    <li class="nav-item">
                      <!-- <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a> -->
                    </li>
                  </ul>
                </div>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart"
                       style="position: relative; ">
                      <div class="row">
                        <div class="col-lg-12">
                          
                                <div class="row">

                                  <form [formGroup]="utilisateurForm" class="form">

                                    <div class="card-body">
                                        
                                        <div class="row">

                                          <div class="col-sm-6">
                                                
                                            <div class="form-group">
                                                <label for="nom_utilisateur">Nom</label>
                                                <input [(ngModel)]="nom_utilisateur" name="nom_utilisateur" formControlName="nom_utilisateur" type="text" class="form-control" id="nom_utilisateur" placeholder=""
                                                [ngClass] = "{
                                                  'is-invalid': utilisateurForm.controls['nom_utilisateur'].errors && utilisateurForm.controls['nom_utilisateur'].touched,
                                                  'is-valid': !utilisateurForm.controls['nom_utilisateur'].errors
                                                }">
                                                <div class="alert alert-danger" *ngIf="utilisateurForm.controls['nom_utilisateur'].errors && utilisateurForm.controls['nom_utilisateur'].touched ">
                                                  <span *ngIf="utilisateurForm.controls['nom_utilisateur'].errors?.['required']"> Bien vouloir saisir un nom</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="prenom_utilisateur">Prénom</label>
                                                <input [(ngModel)]="prenom_utilisateur" name="prenom_utilisateur" formControlName="prenom_utilisateur" type="text" class="form-control" id="prenom_utilisateur" placeholder=""
                                                [ngClass] = "{
                                                  'is-invalid': utilisateurForm.controls['prenom_utilisateur'].errors && utilisateurForm.controls['prenom_utilisateur'].touched,
                                                  'is-valid': !utilisateurForm.controls['prenom_utilisateur'].errors
                                                }">
                                                <div class="alert alert-danger" *ngIf="utilisateurForm.controls['prenom_utilisateur'].errors && utilisateurForm.controls['prenom_utilisateur'].touched ">
                                                  <span *ngIf="utilisateurForm.controls['prenom_utilisateur'].errors?.['required']"> Bien vouloir saisir un prénom</span>
                                                </div>
                                                
                                            </div> 

                                            <div class="form-group">
                                              <label for="email_utilisateur">Email</label>
                                              <input [(ngModel)]="email_utilisateur" name="email_utilisateur" formControlName="email_utilisateur" type="E-mail" class="form-control" id="email_utilisateur" placeholder=""
                                              [ngClass] = "{
                                                'is-invalid': utilisateurForm.controls['email_utilisateur'].errors && utilisateurForm.controls['email_utilisateur'].touched,
                                                'is-valid': !utilisateurForm.controls['email_utilisateur'].errors
                                              }"
                                              >
                                              <div class="alert alert-danger" *ngIf="utilisateurForm.controls['email_utilisateur'].errors && utilisateurForm.controls['email_utilisateur'].touched ">
                                                <span *ngIf="utilisateurForm.controls['email_utilisateur'].errors?.['required']"> Bien vouloir saisir une Email</span>
                                                <span *ngIf=" ! utilisateurForm.controls['email_utilisateur'].errors?.['minLength']"> Saisir au moins 10 caractères</span>
                                              </div>
                                          </div>

                                          
                                          <div class="row">
                                            
                                            <div class="col-sm-8">

                                              <div class="form-group">
                                                <label for="telephone">Téléphone</label>
                                                <input type="text" 
                                                    class="form-control" 
                                                    id="telephone" 
                                                    placeholder="" 
                                                    name="telephone"
                                                    [(ngModel)]="telephone"
                                                    formControlName="telephone"
                                                    [ngClass] = "{
                                                      'is-invalid': utilisateurForm.controls['telephone'].errors && utilisateurForm.controls['telephone'].touched,
                                                      'is-valid': !utilisateurForm.controls['telephone'].errors
                                                    }"
                                                  >
                                                  <div class="alert alert-danger" *ngIf="utilisateurForm.controls['telephone'].errors && utilisateurForm.controls['telephone'].touched ">
                                                    <span *ngIf="utilisateurForm.controls['telephone'].errors?.['required']"> Bien vouloir saisir un login</span>
                                                    <span *ngIf=" ! utilisateurForm.controls['telephone'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
                                                  </div>
                                            </div>
                                                
                                            </div>

                                            <div class="col-sm-4">
                                              <div class="form-group">
                                                <div class="form-group">
                                                  <label for="sex">Sexe</label>
                                                  <select [(ngModel)]="sex" name="sex" formControlName="sex" name="sex" id="sex" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                                  [ngClass] = "{
                                                    'is-invalid': utilisateurForm.controls['sex'].errors && utilisateurForm.controls['sex'].touched,
                                                    'is-valid': !utilisateurForm.controls['sex'].errors
                                                  }">
                                                    <option selected="selected" value="1">Féminin</option>
                                                    <option value="0">Masculin</option>
                                                  </select>  
                                                  <div class="alert alert-danger" *ngIf="utilisateurForm.controls['sex'].errors && utilisateurForm.controls['sex'].touched ">
                                                    <span *ngIf="utilisateurForm.controls['sex'].errors?.['required']"> Bien vouloir saisir un login</span>
                                                    <span *ngIf=" ! utilisateurForm.controls['sex'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="row">
                                              <div class="col-sm-8">
                                                  
                                                <div class="form-group">
                                                  <label for="adresse">Adresse</label>
                                                  <input [(ngModel)]="adresse" name="adresse" type="text" class="form-control" id="adresse" placeholder="" formControlName="adresse"
                                                  [ngClass] = "{
                                                    'is-invalid': utilisateurForm.controls['adresse'].errors && utilisateurForm.controls['adresse'].touched,
                                                    'is-valid': !utilisateurForm.controls['adresse'].errors
                                                  }">
                                                  <div class="alert alert-danger" *ngIf="utilisateurForm.controls['adresse'].errors && utilisateurForm.controls['adresse'].touched ">
                                                    <span *ngIf="utilisateurForm.controls['adresse'].errors?.['required']"> Bien vouloir saisir une adresse</span>
                                                    <span *ngIf=" ! utilisateurForm.controls['adresse'].errors?.['minLength']"> Saisir au moins 10 caractères</span>
                                                  </div>
                                                </div>

                                              </div>

                                              <div class="col-sm-4">

                                                <div class="form-group">
                                                  <label for="pwd">Mot de passe</label>
                                                  <input [(ngModel)]="mot_de_passe_utilisateur" name="mot_de_passe_utilisateur" type="password" class="form-control" id="mot_de_passe_utilisateur" placeholder="" formControlName="mot_de_passe_utilisateur"
                                                  [ngClass] = "{
                                                    'is-invalid': utilisateurForm.controls['mot_de_passe_utilisateur'].errors && utilisateurForm.controls['mot_de_passe_utilisateur'].touched,
                                                    'is-valid': !utilisateurForm.controls['mot_de_passe_utilisateur'].errors
                                                  }">
                                                  <div class="alert alert-danger" *ngIf="utilisateurForm.controls['mot_de_passe_utilisateur'].errors && utilisateurForm.controls['mot_de_passe_utilisateur'].touched ">
                                                    <span *ngIf="utilisateurForm.controls['mot_de_passe_utilisateur'].errors?.['required']"> Bien vouloir saisir un login</span>
                                                    <span *ngIf=" ! utilisateurForm.controls['mot_de_passe_utilisateur'].errors?.['minLength']"> Saisir au moins 10 caractères</span>
                                                  </div>
                                                </div>
                                              </div>

                                          </div>

                                        </div>

                                            <div class="col-sm-6">

                                              <input  [(ngModel)]="id_utilisateur" type="hidden" name="id_utilisateur" formControlName="id_utilisateur" autocomplete="off">

                                              <div class="form-group">
                                                <div class="form-group">
                                                  <label for="type_identite">Type d'identité</label>
                                                  <select [(ngModel)]="type_identite" name="type_identite" formControlName="type_identite" name="type_identite" id="type_identite" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                                  [ngClass] = "{
                                                    'is-invalid': utilisateurForm.controls['type_identite'].errors && utilisateurForm.controls['type_identite'].touched,
                                                    'is-valid': !utilisateurForm.controls['type_identite'].errors
                                                  }">
                                                    <option selected="selected" value="0">CARTE NATIONALE</option>
                                                    <option value="1">PASSPORT</option>
                                                  </select>
                                                  <div class="alert alert-danger" *ngIf="utilisateurForm.controls['type_identite'].errors && utilisateurForm.controls['type_identite'].touched ">
                                                    <span *ngIf="utilisateurForm.controls['type_identite'].errors?.['required']"> Bien vouloir saisir un type de pièce</span>
                                                  </div>  
                                                </div>
                                              </div>

                                              <div class="form-group">
                                                <label for="num_piece_identite">Numéro Pièce identité</label>
                                                <input type="text" 
                                                  class="form-control" 
                                                  id="num_piece_identite" 
                                                  placeholder="" 
                                                  name="num_piece_identite"
                                                  [(ngModel)]="num_piece_identite"
                                                  formControlName="num_piece_identite"
                                                  [ngClass] = "{
                                                    'is-invalid': utilisateurForm.controls['num_piece_identite'].errors && utilisateurForm.controls['num_piece_identite'].touched,
                                                    'is-valid': !utilisateurForm.controls['num_piece_identite'].errors
                                                  }">
                                                <div class="alert alert-danger" *ngIf="utilisateurForm.controls['num_piece_identite'].errors && utilisateurForm.controls['num_piece_identite'].touched ">
                                                  <span *ngIf="utilisateurForm.controls['num_piece_identite'].errors?.['required']"> Bien vouloir saisir un numéro de pièce</span>
                                                  <span *ngIf=" ! utilisateurForm.controls['num_piece_identite'].errors?.['minLength']"> Saisir au moins 5 caractères</span>
                                                </div>
                                              </div>

                                              <div class="form-group">
                                                <label for="date_expiration">Date Expiration</label>
                                                <input type="date" 
                                                  class="form-control" 
                                                  id="date_expiration" 
                                                  placeholder="" 
                                                  name="date_expiration"
                                                  [(ngModel)]="date_expiration"
                                                  formControlName="date_expiration"
                                                  [ngClass] = "{
                                                    'is-invalid': utilisateurForm.controls['date_expiration'].errors && utilisateurForm.controls['date_expiration'].touched,
                                                    'is-valid': !utilisateurForm.controls['date_expiration'].errors
                                                  }">
                                                <div class="alert alert-danger" *ngIf="utilisateurForm.controls['date_expiration'].errors && utilisateurForm.controls['date_expiration'].touched">
                                                  <span *ngIf="utilisateurForm.controls['date_expiration'].errors?.['required']"> Bien vouloir saisir une date</span>
                                                </div>
                                            </div>

                                              <div class="form-group">

                                                    <label>Profil utilisateur <i class="fa fa-angle-down"> </i></label>
                                                    <select  [(ngModel)]="id_profil" name="id_profil" formControlName="id_profil" name="id_profil" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                                    [ngClass] = "{
                                                      'is-invalid': utilisateurForm.controls['id_profil'].errors && utilisateurForm.controls['id_profil'].touched,
                                                      'is-valid': !utilisateurForm.controls['id_profil'].errors
                                                    }">
                                                    
                                                      <option *ngFor="let profil of profils" value="{{ profil.id_profil }} " [selected]="profil.id_profil===id_profil"> {{ profil.nom_profil }} </option>

                                                    </select>
                                                    <div class="alert alert-danger" *ngIf="utilisateurForm.controls['id_profil'].errors && utilisateurForm.controls['id_profil'].touched">
                                                      <span *ngIf="utilisateurForm.controls['id_profil'].errors?.['required']"> Bien vouloir saisir un login</span>
                                                      <span *ngIf=" ! utilisateurForm.controls['id_profil'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                  <div class="form-group">
                                                    <label for="actif">Actif</label>
                                                    <select [(ngModel)]="actif" name="actif" formControlName="actif" name="actif" id="actif" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                                    [ngClass] = "{
                                                      'is-invalid': utilisateurForm.controls['actif'].errors && utilisateurForm.controls['actif'].touched,
                                                      'is-valid': !utilisateurForm.controls['actif'].errors
                                                    }">
                                                      <option selected="selected" value="1">Oui</option>
                                                      <option value="0">Non</option>
                                                    </select>
                                                    <div class="alert alert-danger" *ngIf="utilisateurForm.controls['actif'].errors && utilisateurForm.controls['actif'].touched ">
                                                      <span *ngIf="utilisateurForm.controls['actif'].errors?.['required']"> Bien vouloir saisir un login</span>
                                                      <span *ngIf=" ! utilisateurForm.controls['actif'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
                                                    </div>
                                                  </div>
                                                </div>

                                            </div>

                                        </div>
                                        
                                    </div>
                                    
                                  <div class="row">
                                    <div class="col-sm-12"> 
                                        <div class="card-footer" style="text-align: right;">
                                            <button (click)="updateUtilisateur(utilisateurForm.value)" type="submit" [disabled]="!utilisateurForm.valid" class="btn btn-primary" ><i class="fas fa-plus"></i> {{ titreButton }} </button>
                                        </div>
                                    </div>
                              </div>

                             </form>


                           </div>
              
                        </div>
                      </div>
                   </div>
                  
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->

          </section>

        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->