<!-- Content Wrapper. Contains page content -->

<app-appheader> </app-appheader>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
 
    
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><i class="fas fa-tasks"> </i> EDITIONS DES FACTURES </h1>
          </div><!-- /.col -->
          <!--
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
          -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
   
    <!-- MODIFICATION DES ELEMENTS DE FACTURATION -->
    <section class="content" >
        <div class="container-fluid" *ngIf="detailMission">
          <div class="row">
            <div class="col-md-12">
              <div class="sticky-top mb-3">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Edition des Missions</h4>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="assignForm" class="form">
  
                          <div class="row">
  
                              <div class="col-md-4">
                                  
                                  <div class="form-group">
  
                                      <input [(ngModel)]="id_affectation" name="id_affectation" formControlName="id_affectation" class="custom-control-input" type="hidden" id="id_affectation">
                                      <input [(ngModel)]="source_id" name="source_id" formControlName="source_id" class="custom-control-input" type="hidden" id="source_id">
                                      <input [(ngModel)]="id_affectation_frequence" name="id_affectation_frequence" formControlName="id_affectation_frequence" class="custom-control-input" type="hidden" id="id_affectation_frequence">
  
                                      <label>Mission <i class="fa fa-angle-down"> </i></label>
                                      <select   [(ngModel)]="id_mission" name="id_mission" formControlName="id_mission" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                      [ngClass] = "{
                                      'is-invalid': assignForm.controls['id_mission'].errors && assignForm.controls['id_mission'].touched,
                                      'is-valid': !assignForm.controls['id_mission'].errors
                                      }">
                                      
                                      <option *ngFor="let mission of missions" value="{{ mission.id_mission }}" [selected]="mission.id_mission===id_mission"> {{ mission.mission | uppercase }}</option>
                                      
                                      </select>
                                      <div class="alert alert-danger" *ngIf="assignForm.controls['id_mission'].errors && assignForm.controls['id_mission'].touched ">
                                      <span *ngIf="assignForm.controls['id_mission'].errors?.['required']"> Bien vouloir choisir une mission</span>
                                      <span *ngIf=" ! assignForm.controls['id_mission'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
          
                                      </div>
  
                                  </div>
  
                                  <div class="form-group">
  
                                      <label>Client <i class="fa fa-angle-down"> </i></label>
                                      <select  (change)="onChangeClient($event)" [(ngModel)]="id_client" name="id_client" formControlName="id_client" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                      [ngClass] = "{
                                      'is-invalid': assignForm.controls['id_client'].errors && assignForm.controls['id_client'].touched,
                                      'is-valid': !assignForm.controls['id_client'].errors
                                      }">
                                      
                                      <option *ngFor="let client of clients" value="{{ client.id_client }}" [selected]="client.id_client===id_client"> {{ client.nom_client | uppercase }}</option>
                                      
                                      </select>
                                      <div class="alert alert-danger" *ngIf="assignForm.controls['id_client'].errors && assignForm.controls['id_client'].touched ">
                                      <span *ngIf="assignForm.controls['id_client'].errors?.['required']"> Bien vouloir choisir un client</span>
                                      <span *ngIf=" ! assignForm.controls['id_client'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
  
                                      </div>
  
                                  </div>
                                  
                                  <div class="form-group">
  
                                      <label>Personnel <i class="fa fa-angle-down"> </i></label>
                                      <select  [(ngModel)]="id_utilisateur" name="id_utilisateur" formControlName="id_utilisateur" name="id_utilisateur" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                      [ngClass] = "{
                                      'is-invalid': assignForm.controls['id_utilisateur'].errors && assignForm.controls['id_utilisateur'].touched,
                                      'is-valid': !assignForm.controls['id_utilisateur'].errors
                                      }">
                                      
                                      <option *ngFor="let utilisateur of utilisateurs" value="{{ utilisateur.id_utilisateur }}" [selected]="utilisateur.id_utilisateur===id_utilisateur"> 
                                          {{ utilisateur.nom_utilisateur | uppercase }} {{ utilisateur.prenom_utilisateur | uppercase}}
                                      </option>
                                      
                                      </select>
                                      <div class="alert alert-danger" *ngIf="assignForm.controls['id_utilisateur'].errors && assignForm.controls['id_utilisateur'].touched ">
                                      <span *ngIf="assignForm.controls['id_utilisateur'].errors?.['required']"> Bien vouloir choisir un personnel</span>
                                      <span *ngIf=" ! assignForm.controls['id_utilisateur'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
  
                                      </div>
  
                                  </div>
  
                              </div>
  
                              <div class="col-md-8">
  
                                <div class="row">
  
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                                    
                                            <label for="duree">Durée</label>
                                            <div class="input-group">
                                                <input (change)="onDureeChange()"  [(ngModel)] ="duree" name="duree" formControlName="duree" type="number" class="form-control" id="duree" placeholder="">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-primary" disabled="disabled">En Heure</button>
                                                </div>
                                            </div>
  
                                        </div>
                                    </div>
  
                                    <div class="col-sm-3">
                                      <div class="form-group">
                                                  
                                          <label for="tarif_horaire_option">Tarif Hor. Option</label> 
                                          <div class="input-group">
                                            <input [readonly]="readingOnly" (change)="onTarifHoraireOptionChange()" [(ngModel)] ="tarif_horaire_option" name="tarif_horaire_option" formControlName="tarif_horaire_option" type="number" class="form-control" id="tarif_horaire_option" placeholder="">
                                            <div class="input-group-append">
                                                    <button type="button" class="btn btn-primary" disabled="disabled">€</button>
                                                </div>
                                          </div>
                                      </div>
                                    </div>
  
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                                    
                                            <label for="tarif_horaire_client">Tarif Hor. Client</label> 
                                            <div class="input-group">
                                              <input [readonly]="readingOnly" (change)="onTarifHoraireClientChange()"  [(ngModel)] ="tarif_horaire_client" name="tarif_horaire_client" formControlName="tarif_horaire_client" type="number" class="form-control" id="tarif_horaire_client" placeholder="">
                                              <div class="input-group-append">
                                                      <button type="button" class="btn btn-primary" disabled="disabled">€</button>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
  
                                    <div class="col-sm-3">
                                      <div class="form-group">
                                                  
                                          <label for="tarif_horaire_personnel">Tarif Hor. Personnel</label> 
                                          <div class="input-group">
                                            <input [readonly]="readingOnly" (change)="onTarifHorairePersonnelChange()" [(ngModel)] ="tarif_horaire_personnel" name="tarif_horaire_personnel" formControlName="tarif_horaire_personnel" type="number" class="form-control" id="tarif_horaire_personnel" placeholder="">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-primary" disabled="disabled">€</button>
                                                </div>
                                          </div>
                                      </div>
                                  </div>
  
                                </div>
  
                                <div class="row">
  
                                    <div class="col-sm-4"> 
                                      <div class="form-group">
                                          <label for="montant_option">Frais Options</label>
                                          <div class="input-group">
                                              <input type="number" 
                                                  class="form-control" 
                                                  id="montant_option"
                                                  [readonly]="true"
                                                  placeholder=""
                                                  [(ngModel)] ="montant_option"
                                                  name="montant_option"
                                                  formControlName="montant_option">
                                                  <div class="input-group-append">
                                                      <button type="button" class="btn btn-primary" disabled="disabled">€</button>
                                                  </div>
                                          </div>
                                      </div>
                                    </div>
  
                                    <div class="col-sm-4"> 
                                        <div class="form-group">
                                            <label for="montant">Montant à Facturer</label>
                                            <div class="input-group">
                                                <input type="number" 
                                                    class="form-control"
                                                    [readonly]="true"
                                                    id="montant" 
                                                    placeholder=""
                                                    [(ngModel)] ="montant"
                                                    name="montant"
                                                    formControlName="montant">
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-primary" disabled="disabled">€</button>
                                                    </div>
                                            </div>
                                        </div>
                                  </div>
  
                                  <div class="col-sm-4"> 
  
                                      <div class="form-group">
  
                                          <label for="total_facture">Total à Facturer</label>
                                          <div class="input-group">
                                              <input  [(ngModel)] ="total_facture" id="total_facture" type="text" class="form-control" placeholder=""
                                              name="total_facture" type="number" class="form-control" id="total_facture" 
                                              [readonly]="true"
                                              placeholder="" formControlName="total_facture"
                                              [ngClass] = "{
                                              'is-invalid': assignForm.controls['total_facture'].errors && assignForm.controls['total_facture'].touched,
                                              'is-valid': !assignForm.controls['total_facture'].errors
                                              }">
                          
                                              <div class="input-group-append">
                                              <button type="button" class="btn btn-primary" disabled="disabled">€</button>
                                              </div>
                                              <!-- /btn-group -->
                                          </div>
                                          <div class="alert alert-danger" *ngIf="assignForm.controls['commisions'].errors && assignForm.controls['commisions'].touched ">
                                              <span *ngIf="assignForm.controls['commisions'].errors?.['required']"> Bien vouloir saisir le taux de commisions </span>
                                              <span *ngIf=" ! assignForm.controls['commisions'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
  
                                          </div>
                                      </div>
  
                                  </div>
  
                                </div>
  
                                <div class="row">
  
                                  <div class="col-sm-4"> 
  
                                      <div class="form-group">
  
                                          <label for="commisions">Montant à Payer</label>
                                          <div class="input-group">
                                              <input  [(ngModel)] ="commisions" id="commisions" type="text" class="form-control" placeholder=""
                                              name="commisions" type="number" class="form-control" id="commisions"
                                              [readonly]="true"
                                              placeholder="" formControlName="commisions"
                                              [ngClass] = "{
                                              'is-invalid': assignForm.controls['commisions'].errors && assignForm.controls['commisions'].touched,
                                              'is-valid': !assignForm.controls['commisions'].errors
                                              }">
                          
                                              <div class="input-group-append">
                                              <button type="button" class="btn btn-primary" disabled="disabled">€</button>
                                              </div>
                                              <!-- /btn-group -->
                                          </div>
                                          <div class="alert alert-danger" *ngIf="assignForm.controls['commisions'].errors && assignForm.controls['commisions'].touched ">
                                              <span *ngIf="assignForm.controls['commisions'].errors?.['required']"> Bien vouloir saisir le taux de commisions </span>
                                              <span *ngIf=" ! assignForm.controls['commisions'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
  
                                          </div>
                                      </div>
                                  </div>
  
  
                                  <div class="col-sm-8">
  
                                    <div class="form-group">
  
                                      <div class="form-group">
                                        <label for="frequence">Fréquence de la Mission  </label> <i class="fa fa-angle-down">  </i> 
                                        <select [(ngModel)]="frequence" name="frequence" formControlName="frequence" name="frequence" id="frequence" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                        [ngClass] = "{
                                        'is-invalid': assignForm.controls['frequence'].errors && assignForm.controls['frequence'].touched,
                                        'is-valid': !assignForm.controls['frequence'].errors
                                        }">
  
                                        <option selected="selected" value=1>Ponctuelle</option>
                                        <option selected="selected" value=2>Une fois par Semaine</option>
                                        <!-- <option selected="selected" value=3>Deux fois par Semaine</option> -->
                                        <option selected="selected" value=4>Plusieurs fois par Semaine</option>
                                        <option selected="selected" value=5>Une fois toutes les deux Semaines</option>
                                        <option selected="selected" value=6>Une fois par mois</option>
                                          
                                        </select>  
                                        <div class="alert alert-danger" *ngIf="assignForm.controls['frequence'].errors && assignForm.controls['frequence'].touched ">
                                        </div>
                                    </div>
  
                                    </div>
  
                                </div>
  
                                </div>
  
                              <!-- HERE -->
                              
                              <!-- <div class="row" *ngIf=" frequence == 1"> -->
                              <div class="row">
  
                                <div class="col-sm-6">
  
                                    <div class="form-group">
  
                                        <label for="date_mission">Date d'intervetion</label>
                                        <input (change)="onDateMissionChange($event)" [(ngModel)]="date_mission" name="date_mission" formControlName="date_mission" type="date" class="form-control" id="date_mission" placeholder="">
                                        
                                    </div>
  
                                </div>
  
                                <div class="col-sm-6">
  
                                    <div class="form-group">
  
                                        <label for="heure_mission">Heure d'intervetion</label>
                                        <input (change)="onHeureMissionChange($event)" [(ngModel)]="heure_mission" name="heure_mission	" formControlName="heure_mission" type="time" class="form-control" id="heure_mission" placeholder="">
                                        
                                    </div>
  
                                </div>
  
                              </div>
  
                              <div class="row" *ngIf="frequence == 2 || frequence == 3 || frequence == 4 || frequence == 5">
  
                                <div class="col-sm-6">
  
                                    <div class="form-group">
  
                                        <label for="jour_1">Jours 1</label>
  
                                        <select [(ngModel)]="jour_1" name="jour_1" formControlName="jour_1" name="jour_1"
                                         id="jour_1" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                          style="width: 100%;"
                                        >
                                          <option value="-1">  </option>
                                          <option *ngIf="jour_10" value="0"> Dimanche </option>
                                          <option *ngIf="jour_11" value="1"> Lundi </option>
                                          <option *ngIf="jour_12" value="2"> Mardi </option>
                                          <option *ngIf="jour_13" value="3"> Mercredi </option>
                                          <option *ngIf="jour_14" value="4"> Jeudi </option>
                                          <option *ngIf="jour_15" value="5"> Vendredi </option>
                                          <option *ngIf="jour_16" value="6"> Samedi </option>
                                        </select>
  
                                    </div>
  
                                </div>
  
                                <div class="col-sm-6">
  
                                    <div class="form-group">
  
                                        <label for="heure_1">Heure d'intervetion</label>
                                        <input [(ngModel)]="heure_1" name="heure_1" formControlName="heure_1" type="time" class="form-control" id="heure_1" placeholder="">
                                        
                                    </div>
  
                                </div>
  
                                <div class="col-sm-6" *ngIf="frequence == 3 || frequence == 4">
  
                                  <div class="form-group">
  
                                      <label for="jour_2">Jours 2</label>
                                      <select  [(ngModel)]="jour_2" name="jour_2" formControlName="jour_2" name="jour_2"
                                       id="jour_2" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                        style="width: 100%;"
                                      >
                                      <option value="-1">  </option>
                                      <option *ngIf="jour_20" value="0"> Dimanche </option>
                                      <option *ngIf="jour_21" value="1"> Lundi </option>
                                      <option *ngIf="jour_22" value="2"> Mardi </option>
                                      <option *ngIf="jour_23" value="3"> Mercredi </option>
                                      <option *ngIf="jour_24" value="4"> Jeudi </option>
                                      <option *ngIf="jour_25" value="5"> Vendredi </option>
                                      <option *ngIf="jour_26" value="6"> Samedi </option>
                                      </select>
                                  </div>
  
                              </div>
  
                              <div class="col-sm-6" *ngIf="frequence == 3 || frequence == 4">
  
                                  <div class="form-group">
  
                                      <label for="heure_2">Heure d'intervetion</label>
                                      <input [(ngModel)]="heure_2" name="heure_2" formControlName="heure_2" type="time" class="form-control" id="heure_2" placeholder="">
                                      
                                  </div>
  
                              </div>
  
                              <div class="col-sm-6" *ngIf=" frequence == 4">
  
                                <div class="form-group">
  
                                    <label for="jour_3">Jours 3</label>
                                    <select [(ngModel)]="jour_3" name="jour_3" formControlName="jour_3" name="jour_3"
                                     id="jour_3" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                      style="width: 100%;"
                                    >
                                    <option value="-1">  </option>
                                    <option *ngIf="jour_30" value="0"> Dimanche </option>
                                    <option *ngIf="jour_31" value="1"> Lundi </option>
                                    <option *ngIf="jour_32" value="2"> Mardi </option>
                                    <option *ngIf="jour_33" value="3"> Mercredi </option>
                                    <option *ngIf="jour_34" value="4"> Jeudi </option>
                                    <option *ngIf="jour_35" value="5"> Vendredi </option>
                                    <option *ngIf="jour_36" value="6"> Samedi </option>
                                    </select>
                                </div>
  
                            </div>
  
                            <div class="col-sm-6" *ngIf=" frequence == 4">
  
                                <div class="form-group">
  
                                    <label for="heure_3">Heure d'intervetion</label>
                                    <input [(ngModel)]="heure_3" name="heure_3" formControlName="heure_3" type="time" class="form-control" id="heure_3" placeholder="">
                                    
                                </div>
  
                            </div>
  
                            <div class="col-sm-6" *ngIf=" frequence == 4">
  
                              <div class="form-group">
  
                                  <label for="jour_4">Jours 4</label>
                                  <select [(ngModel)]="jour_4" name="jour_4" formControlName="jour_4" name="jour_4"
                                   id="jour_4" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                    style="width: 100%;"
                                  >
                                  <option value="-1">  </option>
                                  <option *ngIf="jour_40" value="0"> Dimanche </option>
                                  <option *ngIf="jour_41" value="1"> Lundi </option>
                                  <option *ngIf="jour_42" value="2"> Mardi </option>
                                  <option *ngIf="jour_43" value="3"> Mercredi </option>
                                  <option *ngIf="jour_44" value="4"> Jeudi </option>
                                  <option *ngIf="jour_45" value="5"> Vendredi </option>
                                  <option *ngIf="jour_46" value="6"> Samedi </option>
                                  </select>
                              </div>
  
                          </div>
  
                          <div class="col-sm-6" *ngIf=" frequence == 4">
  
                              <div class="form-group">
  
                                  <label for="heure_4">Heure d'intervetion</label>
                                  <input [(ngModel)]="heure_4" name="heure_4" formControlName="heure_4" type="time" class="form-control" id="heure_4" placeholder="">
                                  
                              </div>
  
                          </div>
  
                          <div class="col-sm-6" *ngIf=" frequence == 4">
  
                            <div class="form-group">
  
                                <label for="jour_5">Jours 5</label>
                                <select [(ngModel)]="jour_5" name="jour_5" formControlName="jour_5" name="jour_5"
                                 id="jour_5" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                  style="width: 100%;"
                                >
                                <option value="-1">  </option>
                                <option *ngIf="jour_50" value="0"> Dimanche </option>
                                <option *ngIf="jour_51" value="1"> Lundi </option>
                                <option *ngIf="jour_52" value="2"> Mardi </option>
                                <option *ngIf="jour_53" value="3"> Mercredi </option>
                                <option *ngIf="jour_54" value="4"> Jeudi </option>
                                <option *ngIf="jour_55" value="5"> Vendredi </option>
                                <option *ngIf="jour_56" value="6"> Samedi </option>
                                </select>
                            </div>
  
                        </div>
  
                        <div class="col-sm-6" *ngIf=" frequence == 4">
  
                            <div class="form-group">
  
                                <label for="heure_5">Heure d'intervetion</label>
                                <input [(ngModel)]="heure_5" name="heure_5" formControlName="heure_5" type="time" class="form-control" id="heure_5" placeholder="">
                                
                            </div>
  
                        </div>
  
                      <div class="col-sm-6" *ngIf=" frequence == 4">
  
                          <div class="form-group">
  
                              <label for="jour_6">Jours 6</label>
                              <select [(ngModel)]="jour_6" name="jour_6" formControlName="jour_6" name="jour_6"
                              id="jour_6" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                              style="width: 100%;"
                              >
                              <option value="-1">  </option>
                              <option *ngIf="jour_60" value="0"> Dimanche </option>
                              <option *ngIf="jour_61" value="1"> Lundi </option>
                              <option *ngIf="jour_62" value="2"> Mardi </option>
                              <option *ngIf="jour_63" value="3"> Mercredi </option>
                              <option *ngIf="jour_64" value="4"> Jeudi </option>
                              <option *ngIf="jour_65" value="5"> Vendredi </option>
                              <option *ngIf="jour_66" value="6"> Samedi </option>
                              </select>
                          </div>
  
                      </div>
  
                      <div class="col-sm-6" *ngIf=" frequence == 4">
  
                          <div class="form-group">
  
                              <label for="heure_6">Heure d'intervetion</label>
                              <input [(ngModel)]="heure_6" name="heure_6" formControlName="heure_6" type="time" class="form-control" id="heure_6" placeholder="">
                              
                          </div>
  
                      </div>
  
                      <div class="col-sm-6" *ngIf=" frequence == 4">
  
                      <div class="form-group">
  
                          <label for="jour_7">Jours 7</label>
                          <select [(ngModel)]="jour_7" name="jour_7" formControlName="jour_7" name="jour_7"
                          id="jour_7" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                              style="width: 100%;"
                          >
                          <option value="-1">  </option>
                          <option *ngIf="jour_70" value="0"> Dimanche </option>
                          <option *ngIf="jour_71" value="1"> Lundi </option>
                          <option *ngIf="jour_72" value="2"> Mardi </option>
                          <option *ngIf="jour_73" value="3"> Mercredi </option>
                          <option *ngIf="jour_74" value="4"> Jeudi </option>
                          <option *ngIf="jour_75" value="5"> Vendredi </option>
                          <option *ngIf="jour_76" value="6"> Samedi </option>
                          </select>
                      </div>
  
                      </div>
  
                      <div class="col-sm-6" *ngIf=" frequence == 4">
  
                          <div class="form-group">
  
                              <label for="heure_7">Heure d'intervetion</label>
                              <input [(ngModel)]="heure_7" name="heure_7" formControlName="heure_7" type="time" class="form-control" id="heure_7" placeholder="">
                              
                          </div>
  
                      </div>
  
                      </div>
  
                            </div>
  
                          </div>
  
                          <div class="row">
                            <div class="col-sm-12"> 
                                <div class="card-footer" style="text-align: right;">
                                <button (click)="updateAffectation(assignForm.value)" type="submit" [disabled]="!assignForm.valid" class="btn btn-primary" ><i class="fas fa-plus"></i> Enregistrer </button>
                                </div>
                            </div>
                          </div>
  
                      </form>
  
                  </div>
                  <!-- /.card-body -->
                </div>
                
              </div>
            </div>
            <!-- /.col -->
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
  
    </section>

    <section class="content">

      
      <!-- Default box -->
      <div class="card">
        <div class="card-header">

          <h3 class="card-title">
              <i class="fas fa-funnel mr-1"></i>
              Facture No : {{numero_facture}}
            </h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" title="Remove">
              <!-- <button type="submit" class="btn btn-success" (click)="createAffectation()"><i class="fas fa-plus"></i> Affectation des missions </button>-->
            </button>
          </div>
        </div>

        <div class="card-body p-0">
          
          <!--  AFFICHAGE RECAPITULATIF -->
          <table class="table table-striped projects">

            <thead>

                <tr>

                    <td>
                      Durée Totale
                    </td>

                    <td>
                      Montant Options 
                    </td>

                    <td>
                      Montant facturé
                    </td>

                    <td>
                      Montant Total
                    </td>

                    <td>
                      Montant Commission
                    </td>

                    <td>
                      Montant Marge
                    </td>

                    <td>
                      # Mission
                    </td>

                </tr>

            </thead>

            <tbody>
                <!--POUR AFFECTER MISSION NE GERE QUE LES AFFECTATION DONT LE STATUT EST SOIT 0 OU -1 DONC NON TRAITE OU ANNULE -->
                
                <tr>

                    <td>
                        {{ resume_duree }} h
                    </td>

                    <td>
                      {{ resume_montant_option }} €
                    </td>

                    <td>
                        {{ resume_montant }} €
                    </td>

                    <td>
                      {{ resume_total_facture }} €
                    </td>

                    <td>
                      {{ resume_commisions	 }} €
                    </td>

                    <td>
                      {{ resume_marge	 }} €
                    </td>

                    <td>
                      {{ nombreDeMission }}
                    </td>
                    
                </tr>
            </tbody>
          </table>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
  
    </section>


    <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header">

            <h3 class="card-title">
                <i class="fas fa-list mr-1"></i>
                Liste des Affectations
              </h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" title="Remove">
                <!-- <button type="submit" class="btn btn-success" (click)="createAffectation()"><i class="fas fa-plus"></i> Affectation des missions </button>-->
              </button>
            </div>
          </div>

          <div class="card-body p-0">
            
            <!-- DETAILS DDETAIL DU PLANNING -->

            <!--  AFFICHAGE DE L'ADMINISTRATEUR -->
            <table  *ngIf="administration == 1" class="table table-striped projects">
                <thead>

                    <tr>
                    
                        <td>
                          Date d'intervention
                        </td>
                        
                        <td>
                          Client
                        </td>

                        <td>
                          Personnel
                        </td>

                        <td>
                          Durée
                        </td>

                        <td>
                          Options 
                        </td>

                        <td>
                          Mission 
                        </td>

                        <td>
                          Total 
                        </td>

                        <td>
                          Comm 
                        </td>

                        <td>
    
                        </td>

                    </tr>

                </thead>

                <tbody>
                    <!--POUR AFFECTER MISSION NE GERE QUE LES AFFECTATION DONT LE STATUT EST SOIT 0 OU -1 DONC NON TRAITE OU ANNULE -->
                    
                    <tr *ngFor="let affectation of affectations">

                        <td>
                          Le {{ affectation.date_mission | date : 'dd/MM/yyyy' }} à {{ affectation.heure_mission }} 
                        </td>
                        
                        <td>
                          {{ affectation.nom_client | uppercase }} ( {{ affectation.type_client }} )
                        </td>
                        
                        <td>
                          {{ affectation.nom_utilisateur | uppercase }} {{ affectation.prenom_utilisateur | uppercase }}
                        </td>

                        <td>
                            {{ affectation.duree }} h
                        </td>

                        <td >
                          {{ affectation.montant_option }} €
                        </td>

                        <td>
                            {{ affectation.montant }} €
                        </td>

                        <td>
                          {{ affectation.total_facture }} €
                        </td>

                        <td>
                          {{ affectation.commisions	 }} €
                        </td>

                        <td class="project-actions text-right">

                            <button  type="button" class="btn btn-success btn-xm" (click)="edit(affectation)" >  <i class="fas fa-edit"> </i></button>
                            <button  type="button" class="btn btn-danger btn-xm" (click)="delete(affectation)"> <i class="fas fa-trash"> </i></button>
                            <button  type="button" class="btn btn-secondary btn-xm" (click)="validerAnnuler(affectation, -1)" >  <i class="fas fa-times"> </i></button>
                          
                        </td>
                        
                    </tr>
                </tbody>
            </table>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
    
      </section>

  </div>

  
  <!-- /.content -->
  <!-- /.content-wrapper -->