<!-- Content Wrapper. Contains page content -->

<app-appheader> </app-appheader>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
 
    
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><i class="fas fa-tasks"> </i> VALIDATIONS </h1>
          </div><!-- /.col -->
          <!--
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
          -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
   
    <section class="content">

      <div class="card" *ngIf="detailMission">
        <div class="card-header">
          <h3 class="card-title">Détails de la validation</h3>
        </div>
        <div class="card-body">
          <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
            
            <form [formGroup]="assignForm" class="form">
  
              <div class="row">
  
                  <div class="col-sm-6">
  
                      <div class="row">
  
                          <div class="col-sm-12">
  
                              <div class="form-group">
  
                                  <label for="mission">Mission</label>
                                  <input  [(ngModel)]="mission" name="mission" formControlName="mission" type="text" class="form-control" id="mission" placeholder="">
                                  
                              </div>
  
                          </div>
  
                          <div class="col-sm-12">
  
                              <div class="form-group">
  
                                  <label for="description">Description</label>
                                  <textarea [(ngModel)]="description" name="description" formControlName="description" type="text" class="form-control" id="description" placeholder=""> </textarea>
                                  
                              </div>
  
                          </div>

                          <div class="col-sm-12">

                            <div class="form-group">
                              <label for="nom_client">Client</label>
                              <input [(ngModel)]="nom_client" name="nom_client" formControlName="nom_client" type="text" class="form-control" id="nom_client" placeholder="">
                            </div>

                          </div>

                          <div class="col-sm-12">

                            <div class="form-group">
                              <label for="adresse_client">Adresse </label>
                              <input [(ngModel)]="adresse_client" name="adresse_client" formControlName="adresse_client" type="text" class="form-control" id="adresse_client" placeholder="">
                            </div>

                          </div>      
  
                      </div>
                      
                  </div>
  
                  <div class="col-sm-6">
  
                      <div class="row">

                        <div class="col-sm-6">

                          <div class="form-group">
                            <label for="code_acces_1">Code Accès 1 </label>
                            <input [(ngModel)]="code_acces_1" name="code_acces_1" formControlName="code_acces_1" type="text" class="form-control" id="code_acces_1" placeholder="">
                          </div>

                        </div>

                        <div class="col-sm-6">

                          <div class="form-group">
                            <label for="code_acces_2">Code Accès 2 </label>
                            <input [(ngModel)]="code_acces_2" name="code_acces_2" formControlName="code_acces_2" type="text" class="form-control" id="code_acces_2" placeholder="">
                          </div>

                        </div>

                          <div class="col-sm-6">
  
                              <div class="form-group">
                                  
                                  <label for="duree">Durée d'intervetion</label>
                                  <input [(ngModel)]="duree" name="duree" formControlName="duree" type="number" class="form-control" id="duree" placeholder="" style="text-align:right">
  
                              </div>
  
                          </div>
  
                          <div class="col-sm-6">
  
                              <div class="form-group">
                                  
                                  <label for="frequence">Fréquence</label>
                                  <input [(ngModel)]="frequence" name="frequence" formControlName="frequence" type="number" class="form-control" id="frequence" placeholder="">
                                  
                              </div>
  
                          </div>
                      </div>
  
                      <div class="row">                   
  
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="montant">Montant</label>
                                  <input type="number" 
                                      class="form-control" 
                                      id="montant" 
                                      placeholder="" 
                                      name="montant"
                                      [(ngModel)]="montant"
                                      formControlName="montant"
                                  >
                              </div>
                          </div>
  
                          <div class="col-sm-6">
                              <div class="form-group">
                                   <!--<label for="commisions">Commission</label>-->
                                  <input [(ngModel)]="commisions" name="commisions" type="hidden" class="form-control" id="commisions" placeholder="" formControlName="commisions"
                                  [ngClass] = "{
                                  'is-invalid': assignForm.controls['commisions'].errors && assignForm.controls['commisions'].touched,
                                  'is-valid': !assignForm.controls['commisions'].errors
                                  }">
                                  <div class="alert alert-danger" *ngIf="assignForm.controls['commisions'].errors && assignForm.controls['commisions'].touched ">
                                  <span *ngIf="assignForm.controls['commisions'].errors?.['required']"> Bien vouloir saisir le taux de commisions </span>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="col-sm-6">
  
                            <div class="form-group">

                                <label for="date_mission">Date d'intervetion</label> 
                                <input [(ngModel)]="date_mission" name="date_mission" formControlName="date_mission" type="date" class="form-control" id="date_mission" placeholder="">
                                
                            </div>

                        </div>

                        <div class="col-sm-6">

                            <div class="form-group">

                                <label for="heure_mission">Heure d'intervetion</label>
                                <input [(ngModel)]="heure_mission" name="heure_mission	" formControlName="heure_mission" type="time" class="form-control" id="heure_mission" placeholder="">
                                
                            </div>

                        </div>

                      </div>
  
                  </div>
  
              </div>
              
            </form>
  
          </div>
          <!-- /btn-group -->
         
          <!-- /input-group -->
        </div>
      </div>

    </section>
    
    <section class="content">

      
      <!-- Default box -->
      <div class="card">
        <div class="card-header">

          <h3 class="card-title">
              <i class="fas fa-funnel mr-1"></i>
              Filtrer les validations
            </h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" title="Remove">
              <!-- <button type="submit" class="btn btn-success" (click)="createAffectation()"><i class="fas fa-plus"></i> Affectation des missions </button>-->
            </button>
          </div>
        </div>

        <div class="card-body p-0">
          
          <div class="row" style="margin:1%;">

            <div class="col-sm-4">
              <div class="form-group">
  
                <label for="filtrer_affectation"> NOM CLIENT / NOM PERSONNEL / SERVICE </label>
                <input  (change)="filtrerAffectation()" [(ngModel)]="filtrer_affectation" name="filtrer_affectation" type="text" class="form-control" id="filtrer_affectation" placeholder="">
                
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="form-group">
  
                <label for="filtrer_affectation_source"> SOURCE </label>
                <input  (change)="afficherSource()" [(ngModel)]="filtrer_affectation_source_filtre" name="filtrer_affectation_source_filtre" type="checkbox" id="filtrer_affectation_source_filtre" placeholder="">
                <select *ngIf="filtrer_affectation_source_filtre" (change)="filtrerAffectation()" [(ngModel)]="filtrer_affectation_source" name="filtrer_affectation_source" id="filtrer_affectation_source" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;">
                  <option *ngFor="let source of sources" value="{{ source.id_source }} "> {{ source.source}}</option>
                </select>  
              </div>
            </div>

            <div class="col-sm-1">
              <div class="form-group">
                <label for="filtrer_affectation_date"> Date </label>
                <input (change)="filtrerAffectation()" [(ngModel)]="filtrer_affectation_date" name="filtrer_affectation_date" type="checkbox" id="filtrer_affectation_date" placeholder="">
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
  
                <label for="filtrer_affectation_du"> DU </label>
                <input  (change)="filtrerAffectation()" [(ngModel)]="filtrer_affectation_du" name="filtrer_affectation_du" type="date" class="form-control" id="filtrer_affectation_du" placeholder="">
                
              </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
  
                <label for="filtrer_affectation_au"> AU </label>
                <input  (change)="filtrerAffectation()" [(ngModel)]="filtrer_affectation_au" name="filtrer_affectation_au" type="date" class="form-control" id="filtrer_affectation_au" placeholder="">
                
              </div>
            </div>

          </div>
          
           <!--  AFFICHAGE RECAPITULATIF -->
           <table class="table table-striped projects">

            <thead>

                <tr>

                    <td>
                      Durée Totale
                    </td>

                    <td>
                      Montant Options 
                    </td>

                    <td>
                      Montant facturé
                    </td>

                    <td>
                      Montant Total
                    </td>

                    <td>
                      Montant Commission
                    </td>

                    <td>
                      Montant Marge
                    </td>

                    <td>
                      # Mission
                    </td>

                </tr>

            </thead>

            <tbody>
                <!--POUR AFFECTER MISSION NE GERE QUE LES AFFECTATION DONT LE STATUT EST SOIT 0 OU -1 DONC NON TRAITE OU ANNULE -->
                
                <tr>

                    <td>
                        {{ resume_duree }} h
                    </td>

                    <td>
                      {{ resume_montant_option }} €
                    </td>

                    <td>
                        {{ resume_montant }} €
                    </td>

                    <td>
                      {{ resume_total_facture }} €
                    </td>

                    <td>
                      {{ resume_commisions	 }} €
                    </td>

                    <td>
                      {{ resume_marge	 }} €
                    </td>
                    
                    <td>
                      {{ nombreDeMission	}} 
                    </td>

                </tr>
            </tbody>
           </table>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
  
    </section>

    <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header">

            <h3 class="card-title">
                <i class="fas fa-list mr-1"></i>
                Liste des validations
              </h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" title="Remove">
                <!-- <button type="submit" class="btn btn-success" (click)="createAffectation()"><i class="fas fa-plus"></i> Affectation des missions </button>-->
              </button>
            </div>
          </div>

          <div class="card-body p-0">
            
            <!-- DETAILS DDETAIL DU PLANNING -->

            <!--  AFFICHAGE DE L'ADMINISTRATEUR -->
            <table  *ngIf="administration == 1" class="table table-striped projects">
                <thead>

                    <tr>
                    
                        <td>
                          Date d'intervention
                        </td>
                        
                        <td>
                            Client
                        </td>

                        <td>
                          Personnel
                        </td>

                        <td>
                          Durée
                        </td>

                        <td>
                          Options 
                        </td>

                        <td>
                          Mission 
                        </td>

                        <td>
                          Total 
                        </td>

                        <td>
                          Commision 
                        </td>

                        <td>
    
                        </td>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let affectation of affectations">

                          <td *ngIf="affectation.statut == 1">
                            Le {{ affectation.date_mission | date : 'dd/MM/yyyy' }} à {{ affectation.heure_mission }} 
                          </td>
                        
                        <td *ngIf="affectation.statut == 1">
                          {{ affectation.nom_client | uppercase }} ( {{ affectation.type_client }} )
                        </td>
                        
                        <td *ngIf="affectation.statut == 1">
                          {{ affectation.nom_utilisateur | uppercase }} {{ affectation.prenom_utilisateur | uppercase }}
                        </td>

                        <td *ngIf="affectation.statut == 1">
                            {{ affectation.duree }} h
                        </td>

                        <td *ngIf="affectation.statut == 1">
                          {{ affectation.montant_option }} €
                        </td>

                        <td *ngIf="affectation.statut == 1">
                            {{ affectation.montant }} €
                        </td>

                        <td *ngIf="affectation.statut == 1">
                          {{ affectation.total_facture }} €
                        </td>
                        
                        <td *ngIf="affectation.statut == 1">
                            {{ affectation.commisions	 }} €
                        </td>

                        <td class="project-actions text-right" *ngIf="affectation.statut == 1">

                            <button  type="button" class="btn btn-danger btn-xm" (click)="annulerValidation(affectation, 0)" >  <i class="fas fa-ban"> </i></button>
                            <button  type="button" class="btn btn-success btn-xm" (click)="edit(affectation)" >  <i class="fas fa-edit"> </i></button>
                            <!--<button  type="button" class="btn btn-danger btn-xm" (click)="delete(affectation)"> <i class="fas fa-trash"> </i></button> -->
                            
                            <!-- <button *ngIf="affectation.statut == 1" type="button" class="btn btn-primary btn-xm" (click)="payer(affectation)"> <i class="fas fa-euro-sign"> </i></button> -->
                            
                        </td>
                        
                    </tr>
                </tbody>
            </table>

            <!--  AFFICHAGE DU PERSONNEL -->
            <table  *ngIf="administration == 0" class="table table-striped projects">

              <thead>
                  <tr>
                  
                      <td>
                          Date d'intervention
                      </td>
                      
                      <td>
                          Adresse
                      </td>

                      <td>
                        Acces
                      </td>

                      <td>
                        Durée
                      </td>

                      <td>
                        Tarif Horaire
                      </td>

                      <td>
                        Total
                      </td>

                      <td>

                      </td>

                  </tr>
              </thead>

              <tbody>

                  <tr *ngFor="let affectation of affectations" >

                      <td *ngIf="affectation.id_utilisateur == id_utilisateur && affectation.statut == 1">
                        Le {{ affectation.date_mission | date : 'dd/MM/yyyy' }} à {{ affectation.heure_mission }} 
                      </td>
                      
                      <td *ngIf="affectation.id_utilisateur == id_utilisateur && affectation.statut == 1">
                        {{ affectation.adresse_client | uppercase }} ( {{ affectation.type_client }} )
                      </td>
                      
                      <td *ngIf="affectation.id_utilisateur == id_utilisateur && affectation.statut == 1">
                        Code Acces 1 : {{ affectation.code_acces_1 | uppercase }} <br> Code Acces 2 : {{ affectation.code_acces_1 }} 
                      </td>

                      <td *ngIf="affectation.id_utilisateur == id_utilisateur && affectation.statut == 1">
                          {{ affectation.duree }} h
                      </td>

                      <td *ngIf="affectation.id_utilisateur == id_utilisateur && affectation.statut == 1">
                        {{ affectation.tarif_horaire_client	 }} €
                      </td >

                      <td *ngIf="affectation.id_utilisateur == id_utilisateur && affectation.statut == 1">
                          {{ affectation.commisions	 }} €
                      </td >
                      
                      <td class="project-actions text-right" *ngIf="affectation.id_utilisateur == id_utilisateur && affectation.statut == 1">
                          <button *ngIf="affectation.statut == 1 " type="button" class="btn btn-primary btn-xm" disabled="disabled"> <i class="fas fa-check"> </i></button>
                      </td>
                      
                  </tr>

              </tbody>

          </table>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
    
    </section>

  </div>

  
  <!-- /.content -->
  <!-- /.content-wrapper -->