
<div class="row"> 

  <div class="col-sm-4 col-lg-4">
    <!-- small box -->
    <div class="small-box">
      <div class="inner">
          <h4> CA / SOURCE </h4>
          <canvas id="pieChart_1"> </canvas>
      </div>
      <div class="icon">
        <i class="fas fa-euro-sign"></i>
      </div>
    </div>
  </div>

    <div class="col-sm-4 col-lg-4">
      <!-- small box -->
      <div class="small-box">
        <div class="inner">
            <h4> CA / TYPE DE CLIENT </h4>
            <canvas id="doughnutChart"> </canvas>
            <div class="icon">
              <i class="fas fa-euro-sign"></i>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4">
      <!-- small box -->
      <div class="small-box">
        <div class="inner">
            <h4> CA / FREQUENCE </h4>
            <canvas id="pieChart"> </canvas>
        </div>
        <div class="icon">
          <i class="fas fa-euro-sign"></i>
        </div>
      </div>
    </div>

</div>


  