<app-appheader-client></app-appheader-client>

<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> {{ titre }} </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
           
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        
        <!-- /.row -->
        <!-- Main row -->
       
        <div class="row">

           <!-- INDICATEURS CHIFFRES -->

          <div class="col-sm-12" *ngIf="home">

            <div class="card">
            
              <div class="card-header">
  
                <h3 class="card-title">
                  <i class="fa fa-eye mr-1"></i>
                    INDICATEURS CHIFFRES
                  </h3>
              
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                    
                  </button>
                  
                </div>
              </div>
              
              <div class="card-body p-0">
                
                <div class="row" style="margin: 0.5%;">
  
                    <div class="col-sm-2 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                          <div class="inner">
                            <h2> 0</h2>
                            <p> NON VALIDEES</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-tags mr-1"></i>
                          </div>
                          <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                      </div>
            
                      <div class="col-sm-2 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                          <div class="inner">
                            <h2> 0 </h2>
                            <p>VALIDEES</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-tags mr-1"></i>
                          </div>
                          <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                      </div>
            
                      <div class="col-sm-2 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                          <div class="inner">
                            <h2> 0 </h2>
                            <p>PAYEES</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-tags mr-1"></i>
                          </div>
                          <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                      </div>
            
                      <div class="col-sm-2 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                          <div class="inner">
                            <h2> 0 </h2>
                            <p>NON PAYEES</p>
                          </div>
                          <div class="icon">
                            <i class="fa fa-tags mr-1"></i>
                          </div>
                          <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                        </div>
                      </div>

                  <div class="col-sm-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h2> 0 </h2>
                        <p>FACTURES REGLEES</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-file-invoice"></i>
                      </div>
                      <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                  </div>

                  <div class="col-sm-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h2> 0 </h2>
                        <p>NON REGLEES</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-file-invoice"></i>
                      </div>
                      <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                  </div>
                  
                  
                  <!-- ./col -->
                </div>
                
                <div class="row" style="margin: 0.5%;">

                  <div class="col-sm-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h2> 0 </h2>
                        <p>ATTENTE PAIEMENT </p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-euro-sign"></i>
                      </div>
                      <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                  </div>

                  <div class="col-sm-2 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h2> 0 </h2>
                        <p>ANNULEES</p>
                      </div>
                      <div class="icon">
                        <i class="fa fa-tags mr-1"></i>
                      </div>
                      <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                  </div>
                  
                  
                  <!-- ./col -->
                </div>

                <div class="row" style="margin: 1%;">
  
                  <div class="col-sm-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                      <div class="inner">
                        <h2> 0 </h2>
                        <p>TOTAL FACTURES NON REGLEES</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-euro-sign"></i>
                      </div>
                      <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                  </div>
        
                  <div class="col-sm-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-secondary">
                      <div class="inner">
                        <h2> 0 </h2>
                        <p>TOTAL FACTURES REGLEES</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-euro-sign"></i>
                      </div>
                      <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                  </div>
        
                  <div class="col-sm-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success" >
                      <div class="inner">
                        <h2> 0 </h2>
                        <p>LES PAIEMENTS</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-euro-sign"></i>
                      </div>
                      <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                  </div>
        
                  <div class="col-sm-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                      <div class="inner">
                        <h2> 0 </h2>
                        <p>BALANCE</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-euro-sign"></i>
                      </div>
                      <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                    </div>
                  </div>
                
                </div>
  
              </div>
              <!-- /.card-body -->
            </div>

          </div>
         
          <!-- GRAPHS -->
          <div class="col-sm-12" *ngIf="profilView">

            <div class="card">
              <div class="card-header">
  
                <h3 class="card-title">
                    <i class="fa fa-expand mr-1"></i>
                    DETAILS DU PROFIL
                  </h3>
              
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                    
                  </button>
                  
                </div>
              </div>
              
              <div class="card-body p-0">
                  <div class="row" style="margin: 1%;">

                    <div class="col-sm-4">
                      <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">
                          {{type_client}}
                        </div>
                        <div class="card-body pt-0">
                          <div class="row">
                            <div class="col-sm-12">
                              <h2 class="lead"><b>{{nom_client | uppercase}}</b></h2>
                  
                              <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small">
                                  <span class="fa-li"><i class="fas fa-lg fa-building"></i> </span> <b>Adresse : </b> {{adresse_client}} <br>
                                  <span class="fa-li"><i class="fas fa-lg fa-building"></i> </span> <b>Ville : </b> {{ville_client}} ({{code_postal}})
                                </li>
                                <br>
                                <li class="small">
                                  <span class="fa-li"><i class="fas fa-lg fa-phone"></i>
                                  </span> <b>Téléphone #:</b> {{telephone_1}} / {{telephone_2}} <br>
                                  <span class="fa-li"><i class="fas fa-lg fa-envelope"></i>
                                  </span> <b>Email @ :</b> {{email_client}} <br>
                                  <span class="fa-li"><i class="fas fa-lg fa-clock"></i>
                                  </span> <b>Fréquence : </b> {{frequence_client}}
                                  
                                </li>
                                <br>
                                <li class="small">
                                  <span class="fa-li"><i class="fas fa-lg fa-lock"></i>
                                  </span> <b>Accès : </b> {{code_acces_1}} / {{code_acces_2}} <br>
                                  <span class="fa-li"><i class="fas fa-lg fa-lock"></i>
                                  </span> <b>Autres information d'accès :</b> {{commentaire}}
                                </li>
                                <br>
                              </ul>
                              <!--<p class="text-muted text-sm"><b> </b> {{commentaire}} </p>-->
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <!--
                          <div class="text-right">
                            <a href="#" class="btn btn-sm bg-teal">
                              <i class="fas fa-comments"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-primary">
                              <i class="fas fa-user"></i> View Profile
                            </a>
                          </div> -->
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-8">

                      <div class="card bg-light d-flex flex-fill">
                        <div class="card-header text-muted border-bottom-0">

                        </div>
                        <div class="card-body pt-0">
                          <div class="row">
                            <div class="col-sm-12">
                              
                              <form [formGroup]="clientForm" class="form">

                                <input [(ngModel)]="id_client" name="id_client" formControlName="id_client" class="custom-control-input" type="hidden" id="id_client">
                                <input [(ngModel)]="id_option_client" name="id_option_client" formControlName="id_option_client" class="custom-control-input" type="hidden" id="id_option_client">
                                
                                <div class="row">

                                    <div class="col-sm-7">

                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="type_client">Type de Client</label>
                                                    <select (change)="onTypeClientChange($event)" [(ngModel)]="type_client" name="type_client" formControlName="type_client" name="type_client" id="type_client" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                                    [ngClass] = "{
                                                    'is-invalid': clientForm.controls['type_client'].errors && clientForm.controls['type_client'].touched,
                                                    'is-valid': !clientForm.controls['type_client'].errors
                                                    }">
                                                    <option selected="selected" value="Particulier">PARTICULIER</option>
                                                    <option value="Entreprise">ENTREPRISE</option>
                                                    </select>  
                                                    <div class="alert alert-danger" *ngIf="clientForm.controls['type_client'].errors && clientForm.controls['type_client'].touched ">
                                                    <span *ngIf="clientForm.controls['type_client'].errors?.['required']"> Bien vouloir choisir le type de client</span>
                                                    <span *ngIf=" ! clientForm.controls['type_client'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                              <div class="form-group">
                                                  <label for="id_source">Source</label>
                                                  <select [(ngModel)]="id_source" name="id_source" formControlName="id_source" name="id_source" id="id_source" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                                  [ngClass] = "{
                                                  'is-invalid': clientForm.controls['id_source'].errors && clientForm.controls['id_source'].touched,
                                                  'is-valid': !clientForm.controls['id_source'].errors
                                                  }">
                                                  <option *ngFor="let source of sources" value="{{ source.id_source }}" [selected]="source.id_source===id_source" > {{ source.source}}</option>

                                                  </select>  
                                                  <div class="alert alert-danger" *ngIf="clientForm.controls['id_source'].errors && clientForm.controls['id_source'].touched ">
                                                  <span *ngIf="clientForm.controls['id_source'].errors?.['required']"> Bien vouloir choisir la source</span>
                                                  </div>
                                              </div>
                                            </div>
                                            
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">

                                                <div class="form-group">
                                                    <label for="nom_client">Noms & Prénoms</label>
                                                    <input [(ngModel)]="nom_client" name="nom_client" formControlName="nom_client" type="text" class="form-control" id="nom_client" placeholder=""
                                                    >
                                                    
                                                </div>

                                            </div>

                                        </div>
                                        
                                        <div class="row">
                                          <div class="col-sm-12">
        
                                            <div class="form-group" *ngIf="referent">
                                                <label for="nom_referent">Référent</label>
                                                <input [(ngModel)]="nom_referent" name="nom_referent" formControlName="nom_referent" type="text" class="form-control" id="nom_referent" placeholder="">
                                                
                                            </div>
  
                                          </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="telephone_1">Téléphone 1</label>
                                                    <input type="tel" 
                                                        class="form-control" 
                                                        id="telephone_1" 
                                                        [(ngModel)]="telephone_1"
                                                        placeholder="" 
                                                        name="telephone_1"
                                                        formControlName="telephone_1"
                                                        >
                                                    
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="telephone_2">Téléphone 2</label>
                                                    <input type="text" 
                                                        class="form-control" 
                                                        [(ngModel)]="telephone_2"
                                                        id="telephone_2" 
                                                        placeholder="" 
                                                        name="telephone_2"
                                                        formControlName="telephone_2"
                                                    >
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                              <div class="form-group">
                                                  <label for="email_client">Email</label>
                                                  <input type="text" 
                                                      class="form-control" 
                                                      id="email_client" 
                                                      placeholder="" 
                                                      name="email_client"
                                                      [(ngModel)]="email_client"
                                                      formControlName="email_client"
                                                  >
                                              </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                          <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="ville_client">Ville</label>
                                                <select
                                                    class="form-control" 
                                                    id="ville_client" 
                                                    placeholder="" 
                                                    name="ville_client"
                                                    formControlName="ville_client"
                                                    [(ngModel)] = "ville_client"
                                                    (change)="onVilleChange($event)"
                                                > 
                                                <option *ngFor="let ville of villes" value="{{ ville.ville_nom}}" [selected]="ville.ville_nom === ville_client"> {{ ville.ville_nom }} </option>

                                                </select>
                                            </div>
                                          </div>
                                          
                                          <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="code_postal">Code Postal</label>
                                                <select
                                                    class="form-control" 
                                                    id="code_postal" 
                                                    placeholder="" 
                                                    name="code_postal"
                                                    (change)="onCodePostalChange()"
                                                    [(ngModel)] = "code_postal"
                                                    formControlName="code_postal"
                                                > 
                                                  <option *ngFor="let code_postal of code_postaux" value="{{code_postal.ville_code_postal}}" [selected]="code_postal.ville_code_postal===code_postal"> {{ code_postal.ville_code_postal }} </option>

                                                </select>
                                            </div>
                                          </div>


                                        </div>

                                    </div>

                                    <div class="col-sm-5">

                                        <div class="row">

                                          <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="adresse_client">Rue</label>
                                                <input 
                                                [(ngModel)] = "adresse_client"
                                                name="adresse_client"
                                                type="text" 
                                                class="form-control" 
                                                id="adresse_client" 
                                                placeholder="" 
                                                formControlName="adresse_client"
                                                [ngClass] = "{
                                                'is-invalid': clientForm.controls['adresse_client'].errors && clientForm.controls['adresse_client'].touched,
                                                'is-valid': !clientForm.controls['adresse_client'].errors
                                                }">
                                                <div class="alert alert-danger" *ngIf="clientForm.controls['adresse_client'].errors && clientForm.controls['adresse_client'].touched ">
                                                <span *ngIf="clientForm.controls['adresse_client'].errors?.['required']"> Bien vouloir saisir une adresse </span>
                                                <span *ngIf=" ! clientForm.controls['adresse_client'].errors?.['minLength']"> Saisir au moins 3 caractères</span>
                                                </div>
                                            </div>
                                          </div>

                                            <div class="col-sm-6">

                                                <div class="form-group">

                                                    <label for="code_acces_1">Code accès 1 </label>
                                                    <input [(ngModel)]="code_acces_1" name="code_acces_1" formControlName="code_acces_1" type="text" class="form-control" id="code_acces_1" placeholder="">
                                                    
                                                </div>

                                            </div>

                                            <div class="col-sm-6">

                                                <div class="form-group">
                                                    
                                                    <label for="code_acces_2">Code accès 2</label>
                                                    <input [(ngModel)]="code_acces_2" name="code_acces_2" formControlName="code_acces_2" type="text" class="form-control" id="code_acces_2" placeholder="">
                                                    
                                                </div>
                                                
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">

                                              <div class="form-group">
                                                  
                                                  <label for="commentaire">Autres Précisions d'accès</label>
                                                  <textarea [(ngModel)]="commentaire" name="commentaire" formControlName="commentaire" type="text" class="form-control" id="commentaire" placeholder=""> </textarea>
                                              </div>
                                              
                                          </div>

                                            
                                        </div>

                                        <div class="row">

                                          <div class="col-sm-12">

                                            <div class="form-group">

                                              <div class="form-group">
                                                <label for="frequence_client">Fréquence du client  </label> <i class="fa fa-angle-down">  </i> 
                                                <select [(ngModel)]="frequence_client" name="frequence_client" formControlName="frequence_client" name="frequence_client" id="frequence_client" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;"
                                                [ngClass] = "{
                                                'is-invalid': clientForm.controls['frequence_client'].errors && clientForm.controls['frequence_client'].touched,
                                                'is-valid': !clientForm.controls['frequence_client'].errors
                                                }">

                                                  <option selected="selected" value=1>Ponctuel</option>
                                                  <option selected="selected" value=2>Régulier</option>
                                                  
                                                </select>  

                                                <div class="alert alert-danger" *ngIf="clientForm.controls['frequence_client'].errors && clientForm.controls['frequence_client'].touched ">
                                                </div>

                                              </div>

                                            </div>

                                          </div> 
                                          
                                        </div>

                                        <div class="row">
                                          <div class="col-sm-12">

                                            <div class="form-group">
                                                
                                                <label for="mot_de_passe">Mot de Passe</label>
                                                <input [(ngModel)]="mot_de_passe" name="mot_de_passe" formControlName="mot_de_passe" type="password" class="form-control" id="mot_de_passe" placeholder="">
                                                
                                            </div>
                                            
                                          </div>
                                        </div>

                                    </div>

                                </div>
                                
                                <div class="row">
                                  <div class="col-sm-12"> 
                                      <div class="card-footer" style="text-align: right;">
                                          <button (click)="updateClient(clientForm.value)" type="submit" [disabled]="!clientForm.valid" class="btn btn-primary" ><i class="fas fa-plus"></i> Mèttre à jour </button>
                                      </div>
                                  </div>
                                </div>

                              </form>

                            </div>
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>
              </div>
              <!-- /.card-body -->
            </div>
            
          </div>

          <div class="col-sm-12" *ngIf="attestationView">

            <div class="card">
              <div class="card-header">
  
                <h3 class="card-title">
                    <i class="fa fa-expand mr-1"></i>
                    LISTE DES ATTESTATIONS
                  </h3>
              
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                    
                  </button>
                  
                </div>
              </div>
              
              <div class="card-body p-0">
                
              </div>
              <!-- /.card-body -->
            </div>
            
          </div>

          <div class="col-sm-12" *ngIf="factureView">

            <div class="card">
              <div class="card-header">
    
                <h3 class="card-title">
                    <i class="fas fa-file-invoice mr-1"></i>
                    LISTE DES FACTURES
                  </h3>
              
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                    
                  </button>
                  <select [(ngModel)]="etat" name="etat" (change)="onChange()"
                          id="etat" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                      style="width: 100%;"
                    >
                      <option value="0" [selected]="true"> Factures Non Réglées</option>
                      <option value="1"> Factures Réglées</option>

                  </select>
                  <button type="button" class="btn btn-tool" title="Remove">
                    <!-- <button type="submit" class="btn btn-success" (click)="createAffectation()"><i class="fas fa-plus"></i> Affectation des missions </button>-->
                  </button>
                </div>
              </div>
              
              <div class="card-body p-0">
                
                <!-- DETAILS DDETAIL DU PLANNING -->
                
                <!--  FACTURES CLIENTS -->

                <form [formGroup]="assignForm" class="form">

                  <table  class="table table-striped projects">
                      <thead>
      
                          <tr>
                          
                              <td>
                                Date de Facturation
                              </td>
                              
                              <td>
                                Numéro Facture
                              </td>
      
                              <td>
                                Libellé
                              </td>
                              
                              <td>
                                Montant 
                              </td>
      
                              <td>
          
                              </td>
      
                          </tr>
      
                      </thead>
      
                      <tbody>
      
                          <tr *ngFor="let facture of factures">
      
                                <td *ngIf=" etat == facture.etat && id_client == facture.id_client">
                                    Le {{ facture.date_facturation | date : 'dd/MM/yyyy' }} 
                                </td>
                                
                                <td *ngIf=" etat == facture.etat && id_client == facture.id_client">
                                  {{ facture.numero_facture | uppercase }} 
                                </td>

                                <td *ngIf=" etat == facture.etat && id_client == facture.id_client " >
                                    {{ facture.libelle | uppercase }} 
                                </td>

                                <td *ngIf=" etat == facture.etat && id_client == facture.id_client">
                                    {{ facture.montant }} €
                                </td >

                                <td class="project-actions text-right" *ngIf =" etat == facture.etat && id_client == facture.id_client">
                                    
                                   <!-- <i class="fa fa-download" aria-hidden="true"></i> -->
                                    <button type="button" class="btn btn-primary btn-xm" (click)="imprimer(facture)">  <i class="fas fa-file-pdf"> </i></button>
                                    
                                    <button *ngIf=" facture.etat == 0 " type="button" class="btn btn-success btn-xm" (click)="regler(facture, 1)">  <i class="fas fa-check"> </i></button>

                                    <button *ngIf=" facture.etat == 1 " type="button" class="btn btn-danger btn-xm" (click)="regler(facture, 0)">  <i class="fas fa-ban"> </i></button>
                                    
                                </td>
                                
                          </tr>

                      </tbody>

                  </table>

                </form>

              </div>
              <!-- /.card-body -->
          </div>

            
          </div>
          
          <div class="col-sm-12" *ngIf="reservationsView">

            <div class="card">
              <div class="card-header">
  
                <h3 class="card-title">
                    <i class="fa fa-expand mr-1"></i>
                    LISTE DES RESERVATIONS
                  </h3>
              
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                    
                  </button>
                  
                </div>
              </div>
              
              <div class="card-body p-0">

                <table class="table table-striped projects">

                  <thead>
                      <tr>
                      
                          <td>
                              Date d'intervention
                          </td>
                          
                          <td>
                              Adresse
                          </td>
    
                          <td>
                            Acces
                          </td>
    
                          <td>
                            Durée
                          </td>
    
                          <td>
                            Tarif Horaire
                          </td>
    
                          <td>
                            Total
                          </td>
    
                          <td>
    
                          </td>
    
                      </tr>
                  </thead>
    
                  <tbody>
    
                      <tr *ngFor="let affectation of affectations" >
    
                          <td *ngIf="affectation.id_client == id_client && affectation.statut == 0">
                            Le {{ affectation.date_mission | date : 'dd/MM/yyyy' }} à {{ affectation.heure_mission }} 
                          </td>
                          
                          <td *ngIf="affectation.id_client == id_client && affectation.statut == 0">
                            {{ affectation.adresse_client | uppercase }} ( {{ affectation.type_client }} )
                          </td>
                          
                          <td *ngIf="affectation.id_client == id_client && affectation.statut == 0">
                            Code Acces 1 : {{ affectation.code_acces_1 | uppercase }} <br> Code Acces 2 : {{ affectation.code_acces_1 }} 
                          </td>
    
                          <td *ngIf="affectation.id_client == id_client && affectation.statut == 0">
                              {{ affectation.duree }} h
                          </td>
    
                          <td *ngIf="affectation.id_client == id_client && affectation.statut == 0">
                            {{ affectation.tarif_horaire_personnel }} €
                          </td >
    
                          <td *ngIf="affectation.id_client == id_client && affectation.statut == 0">
                              {{ affectation.commisions	 }} €
                          </td >
                          
                          <td class="project-actions text-right" *ngIf="affectation.id_client == id_client && affectation.statut == 0">
    
                              <button *ngIf="affectation.statut == 0 " type="button" class="btn btn-primary btn-xm" (click)="validerAnnuler(affectation, 1)"> <i class="fas fa-check"> </i></button>
                              <button *ngIf="affectation.statut == 0" type="button" class="btn btn-danger btn-xm" (click)="validerAnnuler(affectation, -1)" >  <i class="fas fa-times"> </i></button>
                              
                              <!--<button *ngIf="affectation.statut == 1 || affectation.statut == 2" type="button" class="btn btn-primary btn-xm" disabled="disabled"> <i class="fas fa-check"> </i></button> -->
                              <!-- <button *ngIf="affectation.statut == -1 " type="button" class="btn btn-danger btn-xm" disabled="disabled">  <i class="fas fa-times"> </i></button> -->
                              <!--<button *ngIf="affectation.statut == 0" type="button" class="btn btn-primary btn-xm" (click)="payer(affectation)"> <i class="fas fa-trash"> </i></button> -->
                              
                          </td>
                          
                      </tr>
    
                  </tbody>
    
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            
          </div>

        </div>

        
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>

  
    <!-- /.content -->
  </div>

  <app-appfooter> </app-appfooter>